a {
	cursor: pointer;
}


.dropAndCropArea {
    padding: 15px;
    border: 2px #f1f1f1 dashed;
    border-radius: 5px;
    line-height: 34px;
	overflow: hidden;
    width:200px;
    height:200px;
}
.dropAndCropArea.dragOverAccept{
    border-color: #00a65a !important;
}
.dropAndCropArea.dragOverReject{
    border-color: #f56954 !important;
}


.box.box-solid.box-success > .box-header a {
	color: #fff;
}
.box.box-solid.box-success > .box-header a.editable-click {
	border-bottom: dashed 1px #fff;
}
.box.box-solid.box-success > .box-header a.editable-click:hover {
	border-bottom: solid 1px #fff;
}
.box.box-solid > .box-header .editable-buttons .btn.btn-default {
  background: #fff;
}


.char-character {
	background-color: #d6d6d6;
	border-radius: 15px;
	padding-top: 30px;
	padding-bottom: 15px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 10px;
}
.char-character p {
	font-style: normal !important;
	border: 0px !important;
}
.char-character .row {
	border-bottom: solid black 1px;
}

.char .editable-controls input,
.char .editable-controls select {
	height: 24px;
	padding: 0px;
}

/* Speziell für iPhone-Buttons */
.char-character .editable-controls button {
	padding: 1px 6px;
}
/* // Speziell für iPhone-Buttons */

.char-image {
	background-color: #d6d6d6;
	border-radius: 15px;
	padding-bottom: 15px;
	margin-right: 0px;
	margin-left: 0px;
	height: 208px;
	margin-top: 10px;
}
.char-image .thumbnail {
	margin: 20px auto;
	border: 1px solid #000;
	width: 135px;
}


.char-gameValues {
	border-radius: 30px;
	border: 4px solid #9E998B;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 10px;
	padding: 5px;
}
/* Speziell für iPhone-Buttons */
.char-gameValues .editable-controls button {
	padding: 2px 6px;
}
.char-gameValues  input.editable-has-buttons {
	width: 50%;
}
/* // Speziell für iPhone-Buttons */
.char-gameValues p{
	margin: 5px;
}
.char-gameValuesHeader {
	color: #fff;
	background-color: #394457;
	border-radius: 30px;
	margin-right: 0px;
	margin-left: 0px;
}
.char-gameValuesValues {
	height: 50px;
}
.char-gameValuesValues p {
	font-size: 20pt;
	font-style: normal !important;
	border: 0px !important;
}
.char-gameValuesValues div.editable-controls {
	padding-top: 12px;
}
.char-gameValuesValues div.editable-controls input{
	height: 26px;
	text-align: center;
}
.char-gameValuesFooterLeft {
	color: #fff;
	background-color: #71081E;
	border-radius: 30px;
	margin-right: 0px;
	margin-left: 0px;
}
.char-gameValuesFooterRight {
	color: #000;
	background-color: #7DCCDB;
	border-radius: 30px;
	margin-right: 0px;
	margin-left: 0px;
}


.char-attributes {
	border-radius: 30px;
	border: 4px solid #9E998B;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 10px;
	padding: 5px;
	background-color: #B3AB94;
}
/* Speziell für iPhone-Buttons */
.char-attributes .editable-controls button {
	padding: 14px 16px;
}
.char-attributes input.editable-has-buttons {
	margin-left: 22px;
}
/* // Speziell für iPhone-Buttons */
.char-attributes p{
	margin: 5px;
}
.char-attributesHeader {
	color: #fff;
	background-color: #394457;
	border-radius: 30px;
	margin-right: 0px;
	margin-left: 0px;
} 
.char-singleAttributeContainer {
	padding-left: 5px;
	padding-right: 5px;
}
.char-singleAttribute {
	background-color: #496348;
	border: 10px solid #496348;
	border-radius: 30px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 5px;
}
.char-singleAttribute div.img-circle {
	background-color: #fff;
	border-radius: 50px;
	border: 4px solid #394457;
	width:100px;
	height:100px;
	font-size: 30pt;
	text-align: center;
	margin: auto;
	padding-top: 11px;
}
.char-singleAttribute div.img-circle p{
	font-style: normal !important;
	border: 0px !important;
}
.char-singleAttribute div.img-circle input{
	width: 50px;
	height: 50px;
	font-size: 20pt;
	text-align: center;
	
}
.char-singleAttributeFooter {
	color: #fff;
	background-color: #71081E;
	border-radius: 30px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 10px;
}


.char-skills {
	border-radius: 30px;
	border: 4px solid #9E998B;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 10px;
	padding: 5px;
}
.char-skills p{
	margin: 5px;
}
.char-skillsHeader {
	color: #fff;
	background-color: #394457;
	border-radius: 30px;
	margin-right: 0px;
	margin-left: 0px;
}

.char-skillsColumnContainer {
	padding-left: 5px;
	padding-right: 5px;
}
.char-skillsColumn {
	background-color: #d6d6d6;
	border: 10px solid #d6d6d6;
	border-radius: 30px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 5px;
}
.char-skillsColumn p{
	font-size: 10pt;
}
.char-skillsTable {
	/*border: 1px solid #9E998B;*/
	margin-bottom: 10px;
	margin-top: 10px;
}
.char-skillsTableHeader {
	border-bottom: 2px solid #9E998B;
}
.char-skillsTableHeader p {
	font-weight: bold;
	color: #000;
}
.char-skillsTableRow {
	border-top: 1px solid #9E998B;
}

.char-skillsTableRow p {
	font-style: normal !important;
	border: 0px !important;
}
/* Speziell für iPhone-Buttons */
.char-skillsTableRow .editable-controls button {
	padding: 1px 4px;
}
.char-skillsTableRow  input.editable-has-buttons {
	width: 50%;
}
/* // Speziell für iPhone-Buttons */
.char-skillsTableHeader div,
.char-skillsTableRow div {
	padding-left: 5px;
	padding-right: 5px;
}
.char-skillTableDice {
	height:20px;
}