<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Chars
        <small>{{SelectedCharModel == null ? 'Auswahl' : 'Detailansicht'}}</small>
    </h1>
</section>

<!-- Error-Box -->
<div ng-controller="CharController as cc" class="pad margin no-print" ng-show="alertService.alerts['globalScope'].length > 0">
	<div ng-repeat="alert in alertService.alerts['globalScope']" class="alert alert-{{alert.class}} alert-dismissable" ng-style="{'margin-bottom': $last ? '0px' : ''}" >
		<i class="fa fa-{{alert.icon}}"></i>
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="alertService.deleteAlert('globalScope' ,$index)" ng-show="alert.closeable">×</button>
		{{alert.text}}
	</div>
</div>

<!-- Main content -->
<section ng-controller="CharController as cc" class="content">

	<!-- Char-Auwswahl -->
	<div class="row" ng-hide="SelectedCharModel">
		<div class="col-sm-6" ng-repeat="char in charList">
			<div class="box box-solid box-primary">
				<div class="box-header">
					<h3 class="box-title" ng-click="selectChar(char.$id)">{{char.name}}</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-danger btn-sm" type="button" data-toggle="modal" data-target="#delete-modal" ng-click="deleteChar(char.$id)"><i class="fa fa-trash-o"></i></button>
					</div>
				</div>
				<div class="box-body" ng-click="selectChar(char.$id)">
					<div class="row">
						<div class="col-xs-3">
							<p>SPEZIES:</p>
						</div>
						<div class="col-xs-9">
							{{char.species || 'leer'}}
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3">
							<p>BERUF:</p>
						</div>
						<div class="col-xs-9">
							{{char.career || 'leer'}}
						</div>
					</div>
				</div><!-- /.box-body -->
			</div>
		</div>
		<div class="col-sm-6">
			<div class="box box-solid box-success">
				<div class="box-header">
					<h3 class="box-title"><a class="newCharHeader" href="" editable-text="newCharModel.name" buttons="no" blur="submit">{{newCharModel.name || 'Name des Chars eingeben'}}</a></h3>
				</div>
				<div class="box-body text-center">
					<a class="btn btn-app" ng-click="createChar()">
						<i class="fa fa-plus"></i> Char erstellen
					</a>
				</div><!-- /.box-body -->
			</div>
		</div>
	</div>
	
	<!-- Char-DetailView -->
	<div class="row char" ng-show="SelectedCharModel">
		<div class="col-md-12">
			<!-- Custom Tabs -->
			<div class="nav-tabs-custom">
				<ul class="nav nav-tabs">
					<li class="active"><a data-target="#identity" data-toggle="tab">Identität</a></li>
					<!--li><a data-target="#tab_2" data-toggle="tab">Tab 2</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">
							Dropdown <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
							<li role="presentation" class="divider"></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
						</ul>
					</li-->
					<li class="pull-right dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-gear"></i>
						</a>
						<ul class="dropdown-menu">
							<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="beginEditChar()" ng-hide="showCharEditing">Bearbeitung beginnen</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="endEditChar()" ng-show="showCharEditing">Bearbeitung beenden</a></li>
							<li role="presentation" class="divider"></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="changeLanguage('en')" ng-hide="selectedLanguage == 'en'">Char in Englisch</a></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="changeLanguage('de')" ng-hide="selectedLanguage == 'de'">Char in Deutsch</a></li>
							<li role="presentation" class="divider"></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" ng-click="deselectChar()" >Anderen Char wählen</a></li>
						</ul>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="identity">
						<div class="row">
							<div class="col-sm-9">
								<div class="row char-character">
									<div class="col-xs-12">
										<h4 translate>character.character</h4>
										<div class="row">
											<div class="col-xs-4 col-sm-3 col-md-2">
												<p translate>character.name</p>
											</div>
											<div class="col-xs-8 col-sm-9 col-md-10">
												<p editable-text="SelectedCharModel.char.name" onaftersave="updateChar()" buttons="no" blur="submit" ng-show="showCharEditing">
													{{SelectedCharModel.char.name || 'Bitte eingeben'}}
												</p>
												<p ng-hide="showCharEditing">
													{{SelectedCharModel.char.name || ''}}
												</p>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-4 col-sm-3 col-md-2">
												<p translate>character.species</p>
											</div>
											<div class="col-xs-8 col-sm-9 col-md-10">
												<p editable-text="SelectedCharModel.char.species"	onaftersave="updateChar()" buttons="no" blur="submit" ng-show="showCharEditing">
													{{SelectedCharModel.char.species || 'Bitte eingeben'}}
												</p>
												<p ng-hide="showCharEditing">
													{{SelectedCharModel.char.species || ''}}
												</p>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-4 col-sm-3 col-md-2">
												<p translate>character.career</p>
											</div>
											<div class="col-xs-8 col-sm-9 col-md-10">
												<p editable-text="SelectedCharModel.char.career" onaftersave="updateChar()" buttons="no" blur="submit" ng-show="showCharEditing">
													{{SelectedCharModel.char.career || 'Bitte eingeben'}}
												</p>
												<p ng-hide="showCharEditing">
													{{SelectedCharModel.char.career || ''}}
												</p>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-4 col-sm-3 col-md-2">
												<p translate>character.specialisation</p>
											</div>
											<div class="col-xs-8 col-sm-9 col-md-10">
												<p editable-text="SelectedCharModel.char.specialisation" onaftersave="updateChar()" buttons="no" blur="submit" ng-show="showCharEditing">
													{{SelectedCharModel.char.specialisation || 'Bitte eingeben'}}
												</p>
												<p ng-hide="showCharEditing">
													{{SelectedCharModel.char.specialisation || ''}}
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="row char-image">
									<div class="col-xs-12">
										<div class="thumbnail">
											<img class="img-circle" src="img/avatar.jpg"  />
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-lg-3">
								<div class="row char-gameValues">
									<div class="col-xs-12">
										<div class="row">
											<div class="col-xs-12 text-center char-gameValuesHeader">
												<p translate>gameValues.soak</p>
											</div>
										</div>
										<div class="row char-gameValuesValues">
											<div class="col-xs-12 text-center">
												<p editable-number="SelectedCharModel.char.soak" onaftersave="updateChar()" buttons="no" blur="submit" ng-show="showCharEditing">
													{{SelectedCharModel.char.soak || 0}}
												</p>
												<p ng-hide="showCharEditing">
													{{SelectedCharModel.char.soak || ''}}
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-lg-3">
								<div class="row char-gameValues">
									<div class="col-xs-12">
										<div class="row">
											<div class="col-xs-12 text-center char-gameValuesHeader">
												<p translate>gameValues.wound</p>
											</div>
										</div>
										<div class="row char-gameValuesValues">
											<div class="col-xs-6 text-center">
												<p editable-number="SelectedCharModel.char.wound.limit" onaftersave="updateChar()" buttons="no" blur="submit" ng-show="showCharEditing">
													{{SelectedCharModel.char.wound.limit || 0}}
												</p>
												<p ng-hide="showCharEditing">
													{{SelectedCharModel.char.wound.limit || ''}}
												</p>
											</div>
											<div class="col-xs-6 text-center">
												<p editable-number="SelectedCharModel.char.wound.current" onaftersave="updateChar()" buttons="no" blur="submit" ng-show="showCharEditing">
													{{SelectedCharModel.char.wound.current || 0}}
												</p>
												<p ng-hide="showCharEditing">
													{{SelectedCharModel.char.wound.current || ''}}
												</p>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6 text-center char-gameValuesFooterLeft">
												<p translate>gameValues.limit</p>
											</div>
											<div class="col-xs-6 text-center char-gameValuesFooterRight">
												<p translate>gameValues.current</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-lg-3">
								<div class="row char-gameValues">
									<div class="col-xs-12">
										<div class="row">
											<div class="col-xs-12 text-center char-gameValuesHeader">
												<p translate>gameValues.strain</p>
											</div>
										</div>
										<div class="row char-gameValuesValues">
											<div class="col-xs-6 text-center">
												<p editable-number="SelectedCharModel.char.strain.limit" onaftersave="updateChar()" buttons="no" blur="submit" ng-show="showCharEditing">
													{{SelectedCharModel.char.strain.limit || 0}}
												</p>
												<p ng-hide="showCharEditing">
													{{SelectedCharModel.char.strain.limit || ''}}
												</p>
											</div>
											<div class="col-xs-6 text-center">
												<p editable-number="SelectedCharModel.char.strain.current" onaftersave="updateChar()" buttons="no" blur="submit" ng-show="showCharEditing">
													{{SelectedCharModel.char.strain.current || 0}}
												</p>
												<p ng-hide="showCharEditing">
													{{SelectedCharModel.char.strain.current || ''}}
												</p>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6 text-center char-gameValuesFooterLeft">
												<p translate>gameValues.limit</p>
											</div>
											<div class="col-xs-6 text-center char-gameValuesFooterRight">
												<p translate>gameValues.current</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-lg-3">
								<div class="row char-gameValues">
									<div class="col-xs-12">
										<div class="row">
											<div class="col-xs-12 text-center char-gameValuesHeader">
												<p translate>gameValues.defense</p>
											</div>
										</div>
										<div class="row char-gameValuesValues">
											<div class="col-xs-6 text-center">
												<p editable-number="SelectedCharModel.char.defense.ranged" onaftersave="updateChar()" buttons="no" blur="submit" ng-show="showCharEditing">
													{{SelectedCharModel.char.defense.ranged || 0}}
												</p>
												<p ng-hide="showCharEditing">
													{{SelectedCharModel.char.defense.ranged || ''}}
												</p>
											</div>
											<div class="col-xs-6 text-center">
												<p editable-number="SelectedCharModel.char.defense.melee" onaftersave="updateChar()" buttons="no" blur="submit" ng-show="showCharEditing">
													{{SelectedCharModel.char.defense.melee || 0}}
												</p>
												<p ng-hide="showCharEditing">
													{{SelectedCharModel.char.defense.melee || ''}}
												</p>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-6 text-center char-gameValuesFooterLeft">
												<p translate>gameValues.ranged</p>
											</div>
											<div class="col-xs-6 text-center char-gameValuesFooterRight">
												<p translate>gameValues.melee</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div class="row char-attributes">
									<div class="col-xs-12">
										<div class="row">
											<div class="col-xs-12 text-center char-attributesHeader">
												<p translate>attributes.attributes<p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!-- /.tab-pane -->
					<!--div class="tab-pane" id="tab_2">
						The European languages are members of the same family. Their separate existence is a myth.
						For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
						in their grammar, their pronunciation and their most common words. Everyone realizes why a
						new common language would be desirable: one could refuse to pay expensive translators. To
						achieve this, it would be necessary to have uniform grammar, pronunciation and more common
						words. If several languages coalesce, the grammar of the resulting language is more simple
						and regular than that of the individual languages.
					</div--><!-- /.tab-pane -->
				</div><!-- /.tab-content -->
			</div><!-- nav-tabs-custom -->
		</div>
	</div>
	
	<!-- Delete-Modal -->
	<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">
			<div class="box box-solid box-danger">
				<div class="box-header">
					<h3 class="box-title">Warnung: Diese Änderung ist nicht rückgängig zu machen.</h3>
				</div>
				<div class="box-body">
					<p>
						<br />
						Wollen Sie den Char mit dem Namen "{{DeleteCharModel.name}}" wirklich löschen?<br />
						<br />
					</p>
				</div><!-- /.box-body -->
				<div class="box-footer clearfix">
					<button type="button" class="btn btn-default pull-right" ng-click="cancelDeleting()"><i class="fa fa-times"></i> Abbrechen</button>
					<button type="button" class="btn btn-danger pull-left" ng-click="removeChar()"><i class="fa fa-edit"></i> Löschen</button>
				</div>
			</div>
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</section>
<!-- /.content -->