<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Chars
        <small>Auswahl</small>
    </h1>
</section>

<!-- Error-Box -->
<div ng-controller="CharController as cc" class="pad margin no-print" ng-show="alertService.alerts['globalScope'].length > 0">
	<div ng-repeat="alert in alertService.alerts['globalScope']" class="alert alert-{{alert.class}} alert-dismissable" ng-style="{'margin-bottom': $last ? '0px' : ''}" >
		<i class="fa fa-{{alert.icon}}"></i>
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="alertService.deleteAlert('globalScope' ,$index)" ng-show="alert.closeable">×</button>
		{{alert.text}}
	</div>
</div>

<!-- Main content -->
<section ng-controller="CharController as cc" class="content">
	<div class="row">
		<div class="col-md-4" ng-repeat="char in charList">
			<div class="box box-solid box-primary">
				<div class="box-header">
					<h3 class="box-title">{{char.name}}</h3>
					<div class="box-tools pull-right">
						<button class="btn btn-danger btn-sm" type="button" data-toggle="modal" data-target="#delete-modal" ng-click="deleteChar(char.$id)"><i class="fa fa-trash-o"></i></button>
					</div>
				</div>
				<div class="box-body">
					<p>
						Infos über den Char
					</p>
				</div><!-- /.box-body -->
			</div>
		</div>
		<div class="col-md-4">
			<div class="box box-solid box-success">
				<div class="box-header">
					<h3 class="box-title" editable-text="newCharModel.name">{{newCharModel.name || 'Name des Chars eingeben'}}</h3>
				</div>
				<div class="box-body text-center">
					<a class="btn btn-app" ng-click="createChar()">
						<i class="fa fa-plus"></i> Char erstellen
					</a>
				</div><!-- /.box-body -->
			</div>
		</div>
	</div>
	
	<!-- Delete-Modal -->
	<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">
			<div class="box box-solid box-danger">
				<div class="box-header">
					<h3 class="box-title">Warnung: Diese Änderung ist nicht rückgängig zu machen.</h3>
				</div>
				<div class="box-body">
					<p>
						<br />
						Wollen Sie den Char mit dem Namen "{{DeleteCharModel.name}}" wirklich löschen?<br />
						<br />
					</p>
				</div><!-- /.box-body -->
				<div class="box-footer clearfix">
					<button type="button" class="btn btn-default pull-right" ng-click="cancelDeleting()"><i class="fa fa-times"></i> Abbrechen</button>
					<button type="button" class="btn btn-danger pull-left" ng-click="removeChar()"><i class="fa fa-edit"></i> Löschen</button>
				</div>
			</div>
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</section>
<!-- /.content -->