<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Admin
        <small>Users</small>
    </h1>
</section>

<!-- Error-Box -->
<div ng-controller="UsersController as uc" class="pad margin no-print" ng-show="messages.length > 0">
	<div ng-repeat="message in messages" class="alert alert-{{message.type}} alert-dismissable" ng-style="{'margin-bottom': $last ? '0px' : ''}" >
		<i class="fa fa-{{message.type}}"></i>
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="deleteMessage($index)">×</button>
		{{message.text}}
	</div>
</div>

<!-- Main content -->
<section ng-controller="UsersController as uc" class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box">
				<div class="overlay" ng-show="showUserlistLoading"></div>
				<div class="loading-img" ng-show="showUserlistLoading"></div>
				<div class="box-header">
					<h3 class="box-title">User-Liste</h3>
					<div class="box-tools">
						<div class="input-group">
							<input type="text" placeholder="Suchen" style="width: 150px;" class="form-control input-sm pull-right" name="table_search" ng-model="suche">
							<span class="input-group-addon"><i class="fa fa-search"></i></span>
						</div>
					</div>					
				</div><!-- /.box-header -->
				<div class="box-body table-responsive no-padding">
					<!--table id="userTable" class="table table-bordered table-striped" datatable="users"-->
                    <table id="userTable" class="table table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th>E-Mail</th>
								<th>Aktionen</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="user in userList | filter:suche">
								<td>{{user.name}}</td>
								<td>{{user.email}}</td>
								<td style="width: 70px; text-align: center">
									<div class="btn-group">
										<button class="btn btn-warning btn-xs" type="button" data-toggle="modal" data-target="#compose-modal" ng-click="editUser(user.$id)"><i class="fa fa-edit"></i></button>
										<button class="btn btn-danger btn-xs" type="button" style="width: 24px" ng-click="deleteUser(user.$id)"><i class="fa fa-trash-o"></i></button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div><!-- /.box-body -->
				<div class="box-footer clearfix">
					<button type="submit" class="btn btn-success pull-right" style="width: 48px" data-toggle="modal" data-target="#compose-modal" ng-click="newUser()"><i class="fa fa-plus"></i></button>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		</div>
	</div>
	<!-- COMPOSE MESSAGE MODAL -->
	<div class="modal fade" id="compose-modal" tabindex="-1" role="dialog" aria-hidden="true" ng-show="EditMaskModel != false">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title"><i class="fa fa-edit"></i> Detailansicht</h4>
				</div>
				<form action="#" method="post" name="userDetail">
					<div class="modal-body">
						<div class="form-group">
							<div class="input-group">
								<label for="name">Benutzername</label>
								<input id="name" name="name" type="text" class="form-control" placeholder="Benutzername eingeben" ng-model="EditMaskModel.name">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<label for="name">E-Mail</label>
								<input id="email" name="email" type="email" class="form-control" placeholder="E-Mail eingeben" ng-model="EditMaskModel.email">
							</div>
						</div>
					</div>
					<div class="modal-footer clearfix">
						<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="cancelEditing()"><i class="fa fa-times"></i> Abbrechen</button>
						<button type="button" class="btn btn-warning pull-left" data-dismiss="modal" ng-show="showEditMaskEditButton" ng-click="saveUser()"><i class="fa fa-edit"></i> Ändern</button>
						<button type="button" class="btn btn-success pull-left" data-dismiss="modal" ng-show="showEditMaskCreateButton" ng-click="createUser()"><i class="fa fa-plus"></i> Erstellen</button>
					</div>
				</form>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</section>
<!-- /.content -->